.basket-wrapper{
  position: relative;
  right: 500px;
  top:700px;
  max-height: 2080px;
}

.basket-active {
  position: sticky;
  right: 240px;
  top: 0px;
  height: 880px;
  width: 500px;
  background-color: #363534;
  border-radius: 20px 0px 0px 20px;
  color: #fdeadc;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.basket-active h4 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.basket-active ::-webkit-scrollbar-thumb {
  background: #f5deb4;
  border-radius: 10px;
}

.basket-active ::-webkit-scrollbar {
  width: 5px;
}

.basket-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 450px;
  height: 410px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
      margin-bottom: 80px;

}

.basket-empty img {
  height: 150px;
  width: 150px;
}

.dish-in-basket {
  background-color: #f5deb3;
  color: black;
  border-radius: 10px;
  width: 400px;
  margin: 5px;
}

.dish-in-basket-active {
  display: flex;
  padding-left: 7px;
}

.headerDishInBasket {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.basketButtonsAndPrice {
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 10px;
}

.deleteDishFromBasket {
  background-color: #f5deb3;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.deleteDishFromBasket img {
  width: 30px;
  height: 30px;
}

.addMoreDishes {
  border: none;
  background-color: #f5deb3;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 20px;
}

.add-delete-buttons {
  display: flex;
  align-items: center;
}

.deleteDishFromBasket {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.subtotal {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.deliveryFee {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.totalprice {
  display: flex;
  width: 400px;
  align-items: flex-end;
  height: 50px;
  font-size: 25px;
  justify-content: space-between;
}

.totalprice P {
  margin: 0;
}

.basket-line {
  border: 1px;
  width: 400px;
  height: 5px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.payingButton {
  display: flex;
  margin-top: 15px;
}

.payingButton button {
  width: 400px;
  height: 70px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  background-color: #e76c1f;
  color: white;
  cursor: pointer;
}

