.basket-active {
  position: absolute;
  right: 240px;
  top: 750px;
  height: 880px;
  width: 500px;
  background-color: #363534;
  border-radius: 20px 0px 0px 20px;
  color: #fdeadc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-active h4 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.basket-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 500px;
  justify-content: space-between;
}

.basket-empty img {
  height: 150px;
  width: 150px;
}

.dish-in-basket {
  background-color: #f5deb3;
  color: black;
  border-radius: 10px;
  width: 400px;
}

.headerDishInBasket {
  display: flex;
  padding-left: 10px;
}

.basketButtonsAndPrice {
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 10px;
}

.deleteDishFromBasket {
  background-color: #f5deb3;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.deleteDishFromBasket img {
  width: 30px;
  height: 30px;
}

.addMoreDishes {
  border: none;
  background-color: #f5deb3;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 20px;
}

.decreaseDishCounter {
  background-color: #f5deb3;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}

.add-delete-buttons {
  display: flex;
  align-items: center;
}

.deleteDishFromBasket {
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.subtotal {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deliveryFee {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalprice {
  display: flex;
  width: 400px;
  align-items: flex-end;
  height: 100px;
}