.title-section {
  max-width: 1440px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title-Background {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.title-picture {
  position: relative;
  margin-top: -55px;
  z-index: 2;
  width: 90px;
  height: auto;
}

.burger-house-title {
  height: 75px;
  width: 872px;
}

.burger-section {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin-top: 50px;
  background-color:#E76C1F ;
}

.burger-header {
  display: flex;
 justify-content: flex-start;
  height: 50px;
  max-width: 1440px;
}

.burger-header img {
  height: 80px;
}

.burger-header h2 {
  color: white;
  font-size: 30px;
}

.burger-header-picture{
    padding-bottom: 45px;
    padding-right: 20px;
}

.food-offers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
  padding-left: 10px;
  justify-content: flex-start;
  max-width: 1440px;
}

.food-offers-div {
  display: flex;
  background-color: #fdeadc;
  height: 170px;
  border-radius: 20px;
  padding-right: 30px;
}

.food-offers-picture{
    display: flex;
    align-items: center;
    padding: 15px;
}

.food-offers-header-and-text{
    width: 300px;
    padding-right: 80px;
}

.food-offers-price-and-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 160px;
}
