@media (max-width: 1440px) {
  .burger-header {
    width: 60%;
    padding-left: 0;
  }

  .dishes {
    padding-left: 0;
  }

  .basket-active {
    width: 400px;
    height: 700px;
  }

  .basket-wrapper {
    right: 400px;
    top: 725px;
  }

  .basket-active h4 {
    font-size: 28px;
  }

  .basket-empty,
  .subtotal,
  .deliveryFee,
  .basket-line,
  .totalprice,
  .payingButton {
    width: 350px;
  }

  .subtotal,
  .deliveryFee {
    font-size: 18px;
  }

  .payingButton {
    height: 50px;
    padding-bottom: 40px;
    font-size: 20px;
  }

  .totalprice {
    font-size: 20px;
  }

  .dish-in-basket {
    width: 300px;
  }

  .dish-in-basket-active {
    display: flex;
  }

  .dishes {
    width: 100%;
  }
  .burger-section {
    width: 1440px;
  }
}

@media (max-width: 1250px) {
  .basket-active {
    width: 300px;
    height: 600px;
  }

  .dish {
    width: 580px;
  }

  .basket-empty,
  .subtotal,
  .deliveryFee,
  .basket-line,
  .totalprice,
  .payingButton {
    width: 250px;
  }

  .basket-empty img {
    height: 75px;
    width: 75px;
  }

  .deleteDishFromBasket img {
    height: 30px;
    width: 30px;
  }

  .basket-empty p {
    font-size: 16px;
  }

  .basket-wrapper {
    right: 300px;
  }

  .dish-in-basket {
    width: 250px;
  }

  .add-to-basket-btn {
    width: 70px;
    margin-right: 20px;
    height: 40px;
  }

  .burger-header {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .basket-wrapper {
    display: none;
  }
  .dishes {
    width: auto;
    align-self: center;
  }
  .burger-header img {
    height: 60px;
    width: 60px;
  }

  .burger-section {
    width: 1250px;
  }
  .navigation-for-phones {
    display: flex;
    position: sticky;
    bottom: 0px;
    z-index: 2;
  }
}

@media (max-width: 750px) {
  .title-section h1 {
    font-size: 16px;
  }
  .burger-section {
    width: 750px;
  }
  .dish {
    display: block;
    width: 400px;
    height: 270px;
  }
  .dish-image {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    width: 400px;
    height: 100px;
  }
  .dish-image img {
    height: 100px;
    object-fit: cover;
    width: 350px;
    border-radius: 8px;
  }
  .dish-name-and-ingredients {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 380px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
  }
  .dish-ingredients {
    text-align: center;
  }

  .dish-price-and-add-button{
    flex-direction: row;
    width: 400px;
    padding-left: 10px;
  }
  .dish-price-and-add-button p {
    font-weight: bold;
  }
}

@media (max-width: 500px) {
  .title-section h1 {
    width: 300px;
    text-align: center;
  }

  .menu-button {
    display: none;
  }

  .burger-house-title {
    width: 650px;
    height: 60px;
  }
  .burger-header{
    width: 40%;
    margin-top: 5px;
  }
  .burger-header img{
    height: 50px;
    width: 50px;
  }
  .burger-header h2{
    font-size: 25px;
  }
  .dish {
    width: 320px;
  }
  .dish-image {
    width: 320px;
  }
  .dish-image img {
    width: 300px;
  }
  .dish-name-and-ingredients{
    width: 320px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .dish-price-and-add-button{
    width: 320px;
  }
  .dish-price-and-add-button {
    width: 320px;
  }
  .add-to-basket-btn {
    width: 120px;
    height: 20px;
  }
}

@media (max-width: 350px) {
  .burger-house-title {
    width: 550px;
    height: 50px;
  }
  .dish {
    width: 280px;
  }
  .dish-image {
    width: 280px;
  }
  .dish-image img {
    width: 260px;
  }
  .dish-name-and-ingredients{
    text-align: center;
    width: 280px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .dish-name-and-ingredients h3{
    width: 260px;
  }
  .dish-price-and-add-button{
    width: 280px;
  }
  .dish-price-and-add-button {
    width: 280px;
  }
}
