@media (max-width: 1440px) {

  .burger-header {
    width: 60%;
    padding-left: 0;
  }

  .dishes {
    padding-left: 0;
    
    }

  .basket-active {
    width: 400px;
    height: 700px;
  }

  .basket-wrapper {
    right: 400px;
    top: 725px;
  }

  .basket-active h4 {
    font-size: 28px;
  }

  .basket-empty,
  .subtotal,
  .deliveryFee,
  .basket-line,
  .totalprice,
  .payingButton {
    width: 350px;
  }

  .subtotal,
  .deliveryFee {
    font-size: 18px;
  }

  .payingButton {
    height: 50px;
    padding-bottom: 40px;
    font-size: 20px;
  }

  .totalprice {
    font-size: 20px;
  }

  .dish-in-basket {
    width: 300px;
  }

  .dish-in-basket-active {
    display: flex;
  }

  .dishes {
    width: 100%;
  }
  .burger-section {
    width: 1440px;
  }
}

@media (max-width: 1250px) {
    .basket-active {
    width: 300px;
    height: 600px;
  }

  .dish {
    width: 580px;
  }

  .basket-empty,
  .subtotal,
  .deliveryFee,
  .basket-line,
  .totalprice,
  .payingButton {
    width: 250px;
  }

  .basket-empty img {
    height: 75px;
    width: 75px;
  }

  .basket-empty p {
    font-size: 16px;
  }

  .basket-wrapper{
    right: 300px;
  }

  .add-to-basket-btn {
    width: 70px;
    margin-right: 20px;
    height: 40px;
  }

  .burger-header {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .basket-wrapper{
    display: none;
  }
  .dishes {
    width: auto;
    align-self: center;
  }
  .burger-header img {
    height: 60px;
    width: 60px;
  }

  .burger-section {
    width: 1250px;
  }
}

@media (max-width: 750px) {
  .title-section h1 {
    font-size: 16px;
  }
  .burger-section {
    width: 750px;
  }
}

@media (max-width: 500px) {
  .title-section h1 {
    width: 300px;
    text-align: center;
  }

  .menu-button {
    display: none;
  }

  .burger-house-title {
    width: 650px;
    height: 60px;
  }
}

@media (max-width: 350px) {
  .burger-house-title {
    width: 550px;
    height: 50px;
  }
}
